- let lists = [{name: 'Blog', url: '/sheenazienadmin/blog'}, {name: 'Portfolio', url: '/sheenazienadmin/portfolio'}, {name:'toggle', url: '#', toggle: true}, {name: 'Diary Error', url: '/sheenazienadmin/diary'}, {name: 'File Manager', url: '/sheenazienadmin/diary'}]

.topnav#myTopnav
  each item in lists
    if !item.toggle
      a(href=item.url)= item.name
    if item.toggle
      a(href="javascript:void(0);" onclick="openNav()").icon
        i.fa.fa-bars


