extends layouts/app.pug

block content
  .landing
    .describe
      h1 Halo, saya Sheena Muhammad Ali Zien
      h2 Selamat datang di diaryku ;;)
      h3 Disini kamu bisa belajar programming, membaca diary programming, dan tentang pekerjaan atau melihat-lihat apa yang sudah aku buat.
        span(style="font-size: 1.5rem")  check it dot!!

  hr
  .wrap-blog
    h3 Blog
    .blog
      ul
        each blog in blogs
          li.list
            a(href=`/blog/detail/${blog.slug}`)= blog.title
  p
   a(href=`/blog`  style="color: rgb(87, 87, 87);") Lihat lebih banyak lagi
  hr

  .wrap-diary
    h3 Diary
    .blog
      ul
        each diary in diaries
          li.list
            a(href=`/diary/detail/${diary.slug}`)= diary.title
  p
    a(href="/diary" style="color: rgb(87, 87, 87);") Lihat lebih banyak lagi
  hr

  .wrap-portfolio
    h3 Porfolio
    .portfolio
      each portfolio in portfolios
        .list-portfolio
          a(href=`/portfolio/detail/${portfolio.slug}`)= portfolio.title
          p !{portfolio.body.substring(0, 25)}

  p
    a(href="/portfolio" style="color: rgb(87, 87, 87);") Lihat lebih banyak lagi
