extends ./../layouts/app.pug

block content
  h1 Marah Ke Orang Tua
  p Saya sering mendengar curhat-an orang lain kalau orang tua mereka tidak paham dengan apa yang ada di pikirannya. Kalau kamu ada di posisi yang sama, coba cek lagi, mungkin pekerjaan orang tua kamu bukan dukun dan peramal, makanya mereka tidak langsung tahu apa yang ada di pikiran kamu.

  p Tugas pertama yang perlu kamu lakukan adalah berkomunikasi dengan jelas, ketika orang tua berbeda paham. Bukan membanting pintu atau kabur dari rumah. Sediakan waktu yang pas untuk berbicara, bukan saat keadaan emosi sudah memuncak baru mengeluarkan semuanya.

  p Ini bukan drama di televisi yang semuanya serba asyik kalau didramatisir, kamu sedih lalu kabur dan pada akhirnya membuktikan kamu yang benar. Ini kehidupan nyata, kamu punya orang tua yang sudah berkorban terlalu banyak, kamu juga perlu mengerti. Bukan hanya mau dimengerti.

  p Berbicara, sampaikan pendapat kamu, TAPI, tanyakan juga pendapat orang tua kamu. Tanpa komunikasi yang jelas, bagaimana caranya kita berharap bisa saling memahami. Termasuk soal kerja, pasangan hidup, pendidikan dan lainnya.

  p Buktikan juga kalau kamu sudah dewasa dengan bisa mencari uang sendiri, berapa banyak anak yang melawan orang tuanya, merasa pilihannya tepat, tapi tanpa sadar dia masih tinggal dan hidup penuh dibiayai orang tuanya, wajar saja orang tua kamu khawatir. Buktikan kalau kamu memang sudah bisa mandiri, setelah kamu bisa mencari uang sendiri, akan banyak perspektif yang berubah.

  p Kamu bisa mengganti teman, tempat belajar, tempat kerja dan lainnya, tapi orang tua tidak. Kamu tidak memilihnya dan mereka tidak memilih kamu. Tidak ada yang kebetulan.

  p Jangan hanya berkomunikasi saat marah atau ada masalah, rutinkan untuk mengobrol sehari-hari, bisa lewat teh atau kopi.

  .row
    h5 Thu Oct 17, 2019 |
    p #css
    p #html
    span.right
      i.fa.fa-eye 20
